%% -*- mode: Erlang; -*-                                                                                                                                                                       
[
 %%---------------------------------                                                                                                                                                           
 %% Configure 'lager' logger system                                                                                                                                                            
 %%---------------------------------                                                                                                                                                           
 {lager, [
          {handlers, [
		      {lager_amqp_backend, [
					    {conf_mod, conf_test},
					    %%{routing_key, <<"error">>},                   
					    {level,    info},
					    {exchange, "lager_amqp_backend"},
					    {user,     "guest"},
					    {pass,     "guest"},
					    {vhost,    "/"},
					    {host,     "linode.talkan.name"},
					    {port,     5672}
					   ]},
                      {lager_console_backend, debug},
                      {lager_file_backend,
                       [
                        [{file, "log/event.log"},
                         {level, debug},
                         {formatter_config,
                          ["[",severity,"] ", "(",module, "|", line, "|",
                           pid, "|", sid,") ", date, "T", time, " $ ", message, "\n"]} ]
                       ]}
                     ]}
         ]}
].
